.form article
    border-top-right-radius: 0px !important
    border-bottom-right-radius: 0px !important
    overflow-x: visible

#form_0
    border-top-left-radius: 0px !important
    filter: drop-shadow(-10px 10px 10px black)

.envelope
    i:nth-child(1)
        animation: envelope-opacity1 7s infinite
        transition: 2s
        font-size: 7rem
    i:nth-child(2)
        animation: envelope-opacity2 7s infinite
        transition: 2s
        font-size: 7rem
    i:nth-child(3)
        animation: envelope-opacity3 7s infinite
        transition: 2s
        font-size: 7rem

@media screen and (min-width: 600px)
    .envelope
        i:nth-child(1)
            animation: envelope 7s infinite
        i:nth-child(2)
            animation: envelope-open 7s infinite
        i:nth-child(3)
            animation: envelope-letter 7s infinite

@keyframes envelope-opacity1
    0%
        opacity: 0
    15%
        opacity: 1
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    30%
        opacity: 0
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    45%
        opacity: 0
    100%
        opacity: 0
@keyframes envelope-opacity2
    0%
        opacity: 0
    15%
        opacity: 0
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    30%
        opacity: 1
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    45%
        opacity: 1
    100%
        opacity: 0
@keyframes envelope-opacity3
    0%
        opacity: 0
    15%
        opacity: 0
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    30%
        opacity: 0
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    45%
        opacity: 1
    75%
        opacity: 1
    100%
        opacity: 0
@keyframes envelope
    0%
        opacity: 0
        transform: translateX( 0%)
    10%
        transform: rotate(0deg)
    15%
        opacity: 1
        transform: translateX( 80%) rotate(15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    30%
        opacity: 1
        transform: translateX( 80%) rotate(-15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    35%
        transform: rotate(0deg) translateX( 80%)
    45%
        opacity: 0
        transform: translateX( 180%)
    100%
        opacity: 0
@keyframes envelope-open
    0%
        opacity: 0
        transform: translateX( 0%)
    30%
        opacity: 0
        transform: translateX( 0%)
    40%
        transform: rotate(0deg)
    45%
        opacity: 1
        transform: translateX( 80%) rotate(15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    60%
        opacity: 1
        transform: translateX( 80%) rotate(-15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    65%
        transform: rotate(0deg) translateX( 80%)
    75%
        opacity: 0
        transform: translateX( 180%)
    100%
        opacity: 0    
@keyframes envelope-letter
    0%
        opacity: 0
        transform: translateX( 0% )
    30%
        opacity: 0
        transform: translateX( 0% )
    60%
        opacity: 0
        transform: translateX( 0%)
    70%
        transform: rotate(0deg) translateX( 80%)
    75%
        opacity: 1
        transform: translateX( 80%) rotate(15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    85%
        opacity: 1
        transform: translateX( 80%) rotate(-15deg)
        color: $color-primary
        text-shadow: 0px 0px 20px #b2fcfb
    95%
        transform: rotate(0deg) translateX( 80%)
    100%
        opacity: 0
        transform: translateX( 180%)
