
.hero
    grid-template-areas: "a"
    section,
    img,
    div
        grid-area: a
        font-size: 2em
        text-shadow: 10px 10px 10px black
    .shadow
        background: black
        opacity: 0.5
        z-index: 2
    img
        z-index: 1
        object-fit: cover
        height: 100vh
    section
        z-index: 3
        font-weight: italic
        font-family: $text-marri
    &-wrapper
        transition: 1s
        overflow: hidden
.diamond__up,
.diamond__down
    position: relative
    font-size:2.5rem
    line-height:0px
    rotate:45deg
    span
        rotate: -45deg
        position: absolute
        padding: 0
        margin: 0
        top: 50%
        left: 25%
.fade-enter-active,
.fade-leave-active 
    transition: opacity 0.5s ease, transform 0.5s ease !important

.fade-enter-from,
.fade-leave-to 
    opacity: 0 !important

.fade-enter-from
    transform: scale(1.05)
.fade-leave-to
